.main {
  .skills {
    background-color: $backgroundColor;
    padding: 80px 0;
    @media (max-width: 900px) {
      padding: 50px 0;
    }
  }
  .skills-wrapper {
    display: grid;
    grid-template-columns: (1fr 2fr);
    column-gap: 10px;
    grid-template-areas: 'skills-title skills-inner';
    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
    .skills-title {
      grid-area: skills-title;
      @media (max-width: 900px) {
        margin-bottom: 20px;
      }
    }
    .skills-inner {
      grid-area: skills-inner;
      .skills-text {
        margin-bottom: 16px;
      }
      .skills-graph {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: minmax(200px, 620px);
        row-gap: 18px;
        grid-template-areas:
          'web-design'
          'responsive-design'
          'ui-design'
          'mobile';

        .skills-item {
          color: $secondaryColor;
          text-transform: uppercase;
          background-color: $rowColor;
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #d9d9d9;
            position: absolute;
            top: 0;
          }
          p {
            padding: 12px 0 12px 18px;
            position: relative;
            z-index: 1;
          }
        }
        .web-design {
          grid-area: web-design;
        }
        .responsive-design {
          grid-area: responsive-design;
          &::after {
            width: 90%;
          }
        }
        .ui-design {
          grid-area: ui-design;
          &::after {
            width: 70%;
          }
        }
        .mobile {
          grid-area: mobile;
          &::after {
            width: 40%;
          }
        }
      }
    }
  }
}
.projects {
  padding-top: 80px;
  .projects-title {
    @include sectionTitle(#4d4d4d);
    margin-bottom: 33px;
  }
  .projects-wrapper {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 3fr 1fr 2fr 2fr 1fr 3fr;
    @media (max-width: 900px) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(1, 1fr);
    }
    .projects-img {
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .birds {
      // grid-area: birds;
      grid-column: 1/2;
      @media (max-width: 900px) {
        grid-column: 1/2;
      }
    }
    .field {
      grid-column: 2/6;
      @media (max-width: 900px) {
        grid-column: 2/3;
      }
      @media (max-width: 400px) {
        grid-column: 1/2;
      }
    }
  }
  .bridge {
    grid-column: 6/7;
    @media (max-width: 900px) {
      grid-column: 1/2;
    }
  }
}
.sunglasses {
  grid-column: 1/4;
  @media (max-width: 900px) {
    grid-column: 2/3;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}

.sand {
  // grid-area: sand;
  grid-column: 4/7;
  @media (max-width: 900px) {
    grid-column: 1/2;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}
.people {
  // grid-area: people;
  grid-column: 1/3;
  @media (max-width: 900px) {
    grid-column: 2/3;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}

.beach {
  // grid-area: beach;
  grid-column: 3/5;
  @media (max-width: 900px) {
    grid-column: 1/2;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}

.lake {
  // grid-area: lake;
  grid-column: 5/7;
  @media (max-width: 900px) {
    grid-column: 2/3;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}

.sky {
  // grid-area: sky;
  grid-column: 1/4;
  @media (max-width: 900px) {
    grid-column: 1/2;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}

.ocean {
  // grid-area: ocean;
  grid-column: 4/7;
  @media (max-width: 900px) {
    grid-column: 2/3;
  }
  @media (max-width: 400px) {
    grid-column: 1/2;
  }
}
.projects-description {
  position: absolute;
  bottom: 0;
  color: $accentColor;
  background-color: rgba(0, 0, 0, 0.09);
  height: 61px;
  width: 100%;
  padding: 11px 0 13px 19px;
  .projects-name {
    font-size: 17px;
    margin-bottom: 6px;
    @media (max-width: 680px) {
      font-size: 14px;
    }
  }
  .projects-about {
    font-family: 'Arial', serif;
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media (max-width: 680px) {
      font-size: 8px;
    }
  }
}

.form {
  background-color: $backgroundColor;
  padding: 80px 0 95px;
  .form-wrapper {
    display: grid;
    grid-template-columns: (1fr 2fr);
    column-gap: 10px;
    grid-template-areas: 'form-name form-inner';
    @media (max-width: 680px) {
      display: flex;
      flex-direction: column;
    }
    .form-name {
      grid-area: form-name;
      @media (max-width: 680px) {
        margin-bottom: 30px;
      }
      .form-text {
        color: $alternateColor;
        padding-top: 35px;
        max-width: 230px;
        @media (max-width: 680px) {
          max-width: 100%;
        }
      }
    }
    .form-inner {
      .form-box {
        grid-area: form-inner;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 2.2fr;
        input {
          font-size: 20px;
          line-height: 44px;
          padding: 7px 15px 7px;
          border: none;
          outline: none;
          @media (max-width: 680px) {
            font-size: 16px;
            line-height: 20px;
          }
          &::placeholder {
            font-size: 20px;
            color: $placeholderColor;
            @media (max-width: 680px) {
              font-size: 16px;
            }
          }
        }
        input:nth-child(odd) {
          background-color: $rowColor;
        }
        input:last-child {
          position: relative;
          &::placeholder {
            position: absolute;
            top: 25px;
            @media (max-width: 680px) {
              top: 10px;
            }
          }
        }
      }
      .btn {
        background-color: $placeholderColor;
        border: none;
        outline: none;
        @media (max-width: 680px) {
          padding: 12px 15px;
        }
      }
    }
  }
}
